/Animal.class
/ArrayIndexOutOfBoundException.class
/CatchByExceptionKind.class
/ClassCastException.class
/Dog.class
/NullPointException.class
/NullPointException2.class
/NumberFormatException.class
/ThrowsExample.class
/TopException.class
/TryCatchFinallyExample.class
/TryCatchRuntimeException.class
/TryCatchRuntimeException2.class
